* { 
	box-sizing: border-box;
    margin: 0;
}

html {
	min-height: 100%;
    font-family: 'Gamja Flower', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Background */
.background {
    position: fixed;
    z-index: -1;
    background-image: url("plant-seamless-background.jpg");
    height: 100vh;
    width: 100%;
    opacity: 0.15;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    margin: 0.8rem 0;
}

header img {
    height: 180px;
}

header .header-text {
    color: #081c15;    
    height: 180px;
    margin: 0 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    font-size: 1.4rem;

}

/* Each plant item*/
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: 300px;
    margin: 1rem;
    padding: 0.5rem;
    background-color: rgba(255,253,247,0.9);
    color: #081c15;    
    border: double rgba(8,28,21, .3) 0.3rem;
}

li h2 {
    font-size: 2rem;
}

li img {
    height: 180px;
    width: 180px;
    object-fit: cover;
    margin: 0.5rem 0;
    border-radius: 8px;
}

li .plant-content {
    font-size: 1.3rem;
}